networks:
    servers-network:
        external: true

services:
  dashboard-be:
    image: arina/sber/dashboard-be:main
    container_name: dashboard-be
    hostname: dashboard-be
    environment:
      UVICORN_ROOT_PATH: /dashboard-be

      KEYCLOAK_URL: ${KEYCLOAK_URL:-http://localhost:8087/keycloak}
      KEYCLOAK_REDIRECT_URI: ${KEYCLOAK_REDIRECT_URI:-http://localhost:8501/dashboard}
      KEYCLOAK_URL_FOR_AUTH: ${KEYCLOAK_URL_FOR_AUTH:-http://localhost:8087/keycloak}

      DB_USER: ${DB_USER:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-postgres}
      DB_HOST: ${DB_HOST:-postgres}
      DB_PORT: ${DB_PORT:-5432}
      DB_NAME: ${DB_NAME:-server_metrics}

#    depends_on:
#      - llama-server
#      - postgres
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - servers-network

