networks:
    servers-network:
        external: true

services:
  dashboard-ui:
    image: arina/sber/dashboard:main
    container_name: dashboard
    hostname: dashboard
    environment:
      STREAMLIT_SERVER_PORT: 8501
      STREAMLIT_SERVER_ADDRESS: 0.0.0.0
      STREAMLIT_SERVER_BASE_URL_PATH: /dashboard

      KEYCLOAK_URL: ${KEYCLOAK_URL:-http://localhost:8087/keycloak}
      KEYCLOAK_REDIRECT_URI: ${KEYCLOAK_REDIRECT_URI:-http://localhost:8501/dashboard}
      KEYCLOAK_URL_FOR_AUTH: ${KEYCLOAK_URL_FOR_AUTH:-http://localhost:8087/keycloak}

      DB_USER: ${DB_USER:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-postgres}
      DB_HOST: ${DB_HOST:-postgres}
      DB_PORT: ${DB_PORT:-5432}
      DB_NAME: ${DB_NAME:-server_metrics}

      DASHBOARD-BE_URL: "${DASHBOARD-BE_URL:-http://dashboard-be:8000/dashboard}"

#    depends_on:
#      - llama-server
#      - postgres
    ports:
      - "8050:8050"
      - "8501:8501"
    restart: unless-stopped
    networks:
      - servers-network

